@using MyBlog;

<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@Model.PostTitle</title>

  <link rel="stylesheet" href="/styles/app.css">
  <style>
    a.tag {
      text-decoration: none;
      background-color: #eee;
    }
  </style>
</head>

<body>
  <header class="container">
    <a href="/">Home</a>
    <h1>@Model.PostTitle</h1>
    <small>
      @foreach (var tag in Model.FrontMatter.Tags)
      {
        <a class="tag" href="/tags/@Util.ReplaceWithspaceChars(tag)/">#@tag</a>
      }
    </small>
  </header>
  <article class="container">
    @Model.PostContent
  </article>
</body>

</html>
