<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@Model.PostTitle</title>

  <link rel="stylesheet" href="/styles/app.css">

</head>

<body>
  <header class="container">
    <a href="/">Home</a>
    <h1>@Model.PostTitle</h1>
  </header>
  <article class="container">
    @Model.PostContent
  </article>
</body>

</html>
