@using MyBlog;

<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@Model.PostTitle</title>

  <link rel="stylesheet" href="/styles/app.css">
  <style>
    img {
      margin-top: 2em;
      margin-bottom: 2em
    }
    article pre code {
      overflow-x: auto;
    }
  </style>
</head>

<body>
  <header class="container">
    <div style="margin-top: 1.25rem;">
      <a class="font-mono" href="/">cd ..</a>
    </div>
    <h1>@Model.PostTitle</h1>
    <small>
      <span>@Model.FrontMatter.CreateTime.ToString("MMM d, yyyy")</span>
      @foreach (var tag in Model.FrontMatter.Tags)
      {
        <a class="no-underline" style="background-color: #eee;" href="/tags/@Util.ReplaceWithspaceChars(tag)/">#@tag</a>
      }
    </small>
  </header>
  <main class="container" style="padding-top: 1.75rem; padding-bottom: 1.75rem;">
    <article>
      @Model.PostContent
    </article>
  </main>
</body>

</html>
