<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@Model.TagName</title>

  <link rel="stylesheet" href="/styles/app.css" />
  <style>
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>
  <header class="container">
    <a href="/">cd ..</a>
    <h1>#@Model.TagName</h1>
  </header>
  <main class="container" style="padding-bottom: 2.5rem;padding-top: 2rem;">
    <article>
      <ul>
        @foreach (var item in Model.Posts)
        {
          <li style="margin-top: 0.5rem; margin-bottom: 1.5rem;">
            <div style="margin-bottom: 5px">
              <a class="no-underline" style="font-size: 1.25rem; font-weight: bold; margin-bottom: 5px"
              href="@item.PostRoute">@item.PostTitle</a>
            </div>
            <div>
              <span>@item.FrontMatter.CreateTime.ToLongDateString()</span>
            </div>
          </li>
        }
      </ul>
    </article>
  </main>
</body>

</html>
