html,
body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 666px;
  margin: auto;

  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

a {
  text-decoration: none;
  box-shadow: 0 1px 0 0 currentColor;
  outline: none;
}

.no-underline {
  box-shadow: none;
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
