:root {
  --code-bgcolor: #f6f8fa;
  --code-fonts: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

article {
  color: var(--color-light-black);
  position: relative;
  line-height: 1.8em;
  text-align: left;
}

article img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 2em auto;
}

article a {
  border-bottom: 2px solid transparent;
  padding-bottom: 0.2em;
  word-break: break-word;
}

article a:hover {
  border-bottom: 2px solid var(--color-red);
}

article h2 {
  margin-top: 32px;
  position: relative;
  color: var(--color-black);
  text-transform: uppercase;
  cursor: pointer;
}

article h2::before {
  content: "";
  display: block;
  border-left: 5px solid #f66;
  color: #f66;
  position: absolute;
  height: 100%;
  left: -15px;
}

table {
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
  box-sizing: border-box;
  border-collapse: collapse;
}

p kbd {
  border: 1px solid #6666;
  border-radius: 3px;
  padding: 0.1em 0.5em;
}

/* blockquote */
blockquote {
  --blockquote-border-left: 5px solid #e6e6e6;
  --blockquote-font-size: 17px;
  --blockquote-style: italic;
  --blockquote-color: #999;

  margin: 2em 0;
  padding-left: 16px;
  border-left: var(--blockquote-border-left);
  word-break: break-word;
}

blockquote p {
  font-size: var(--blockquote-font-size);
  font-style: var(--blockquote-style);
  color: var(--blockquote-color);
}

/* blockquote footer cite {
  word-break: break-word;
} */

/* TODO: 代码高亮需要引入 prism.css 暂时这样 */
article code:not([class*="language-"]) {
  background-color: var(--code-bgcolor);
  font-family: var(--code-fonts);
  padding: 0.1em 0.5em;
  border-radius: 0.3em;
  word-wrap: break-word;
  text-transform: none;
}
